<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Авторизация</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">    
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/default.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/validator.js"></script>
    <script src="js/sign-in.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="images/logo.svg" alt="Logo">
                    <span>MathLab.kz</span>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>&nbsp; Главная</a></li>
                      <li><a href="#"><i class="fa fa-usd" aria-hidden="true"></i>&nbsp; Оплата</a></li>
                      <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp; Контакты</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Регистрация</a></li>
            </ul>
        </div>
    </nav>
    <div class="container main-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row form-head">
                    <div class="col-md-6 nopadding">
                        <h3>Вход в систему</h3>
                    </div>
                    <div class="col-md-6 text-right form-head-reg">
                        <a href="sign-up.html">Регистрация</a>
                    </div>
                </div>
                <div class="form">
                    <form data-toggle="validator" role="form" onsubmit="return false">
                        <div class="form-group">
                            <label for="login">Ваш логин или E-mail:</label>
                            <input type="text" class="form-control" id="login" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="password">Ваш пароль:</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-question" aria-hidden="true"></i></button>
                                </span>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-md" id="submit">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <ul class="footer-links">
                            <li><a href="#">Личный кабинет</a></li>
                            <li><a href="#">Техническая поддержка</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5 text-right">
                        <ul class="footer-links">
                            <li>© MathLab.kz 2017</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/bootstrap.min.js"></script>
</body>
</html>
